.line {
  width: 15em;
  height: 3px;
  background-color: black;
}

.line-white {
  width: 15em;
  height: 3px;
  background-color: rgb(255, 255, 255);
}

.footer {
  display: flex;
  height: 5vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border: 0;
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
}

.footer-white {
  display: flex;
  height: 5vh;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  border: 0;
  background: linear-gradient(
    0deg,
    rgb(53, 53, 53) 31%,
    rgb(54, 54, 54) 100%
  );
}


.leftpart {
  flex: 1;
  margin-left: 1em;
}

.leftpart-white {
  flex: 1;
  margin-left: 1em;
  color: white;
}


.rightpart {
  flex: 1;
  font-weight: bolder;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-content: end;
  column-gap: 3em;
}

.rightpart a {
  transform: scale(1);
  transition: transform 0.23s ease;
  width: 30px;
  height: auto;
}

.rightpart a:hover {
  transform: scale(1.25);
}

.socialmedias {
  width: 11em;
  column-gap: 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.socialmedias-white {
  width: 11em;
  column-gap: 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(24deg) brightness(109%) contrast(101%);
}

a.nav-link {
  color: black;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

a.nav-link-white {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.follow {
  white-space: nowrap;
}

.follow-white {
  white-space: nowrap;
  color: white;
}

@media (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 5vh 0vw 3vh 0vw;
  }
  .follow,
  .line {
    display: none;
  }
  .rightpart {
    padding-left: 10em;
  }
}
