:root {
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* REGLER LA TAILLE DE LA POLICE ET LA HAUTEUR ENTRE LES LIGNES */

.carousel-inner {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  margin-top: 2vh;
  height: 10em;
}

.carousel-inner p,
.carousel-item {
  font-weight: 700;
  font-size: 20px;
  color: var(--white);
  line-height: 1;
}

.carousel-inner::before,
.carousel-inner::after {
  content: "";
  z-index: 1;
  position: absolute;
  pointer-events: none;
  overflow-x: hidden;
}

.carousel-inner::before {
  top: 0;
  background-color: hsla(0, 15%, 84%, 0);
}

.carousel-inner::after {
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0);
}

.carousel-item {
  position: absolute;
  background: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.carousel-item.visible {
  opacity: 1;
}

.carousel-item.visible:not(.active) {
  opacity: 0.4;
  width: auto;
}

.game-image {
  width: auto;
  height: 5em
}

@media screen and (max-width: 900px) {

.carousel-inner {
  width: 100%;
  display: flex;
  margin: 0;
  margin-right: 12%;
}
.carousel-inner > * {
  width: 100%;
  height: 100%;
  margin: 0;
}
.carousel-item {
  width: 100%;
  display: flex;
  justify-content: center;
}


}

.left:hover, .right:hover {
  opacity: 1;
}