@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";

@font-face {
  font-family: "AddLGBitmap09";
  src: url("https://assets.codepen.io/217233/AddLGBitmap09.woff2")
      format("woff2"),
    url("https://assets.codepen.io/217233/AddLGBitmap09.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Homehero > * {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  border: 0;
  user-select: none;
  scroll-behavior: smooth;
}

/* Page GAMES */

.gamespage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.video-wrapper {
  z-index: -1;
  width: 100%;
}

.video-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: linear-gradient(rgba(0, 0, 0, 0.6),rgb(0, 0, 0,0.3), rgb(0, 0, 0,0.3), rgb(0, 0, 0,0.4), rgb(0, 0, 0));
}

.games-carousel-container {
  width: 100vw;
  height: 90vh;
  padding: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.carousel-control-container {
 display: flex;
 flex-direction: row;
 width: max-content;
 height: 52px;
 align-items: center;
}

.carousel-control {
  background: none;
  color: white;
  font-size: 3em;
  text-shadow: none;
  opacity:1;
  height: 100%;
  cursor: pointer;
}

.titles-homepage h1 {
  color: white;
  font-size: 50px;
  font-weight: 900;
}


.titles-homepage p {
  font-size: 22px;
  font-weight: bolder;
  color: white;
  width: 55px;
  text-align: center;
}

.titreetannee {
  display: flex;
  flex-direction: row;
  width: max-content;
  column-gap: 10px;
  margin-left: 5vw;
  margin-top: 2vw;
}

#titrejeu {
  font-size: 40px;
  color: white;
  font-weight: lighter;
  text-shadow: rgb(0, 0, 0) 1px 0 15px;
}

#yearjeu {
  font-weight: lighter;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.description2 {
  max-width: 40%;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.platformslist {
  height: 100%;
  padding-top: 4%;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.3vw;
  align-self: flex-end;
  justify-content: flex-end;
}

.partnerslogo {
  width: 200px;
}

.dedra-intro {
  background: rgba(0, 0, 0, 0.94);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  transition: all 0.3s;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.dedra-intro h3:last-child {
  margin-top: 15vh;
  font-family: "AddLGBitmap09";
  transition: all .2s ease-in-out
}

.dedra-intro h3:last-child:hover {
  color: #fffb00;
  cursor: pointer;
  transform: scale(1.1);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dedra-title {
  color: white;
  font-family: Montserrat;
  font-size: 100px;
}

.loader {
  height: 70px;
  width: 71px;
  position: relative;
  text-align: center;
  animation: rotateFrame 2.5s infinite;
  margin-left: 7px;
}

@keyframes rotateFrame {
  0% {
    transform: none;
  }

  90% {
    transform: none;
  }

  100% {
    transform: rotate(180deg);
  }
}

.top {
  animation: top 2.5s linear infinite;
  border-top: 35px solid #fff;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}

@keyframes top {
  90% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(0);
  }
}

.bottom {
  animation: bottom 2.5s linear infinite;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #fff;
  border-left: 35px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}

@keyframes bottom {
  10% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.gamespage-video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  object-fit: cover;
}

.gamespage .wh-navbar > *,
.gamespage .wh-nav-link {
  color: white;
}

.gamespage .wh-navbar {
  width: 100%;
  z-index: 999;
}

.gamespage.wh-nav-link {
  display: inline-block;
  position: relative;
}
.gamespage.wh-nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* BLOG PAGE */

#blogpage {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#blogpage > * {
  box-sizing: border-box;
}

#blogpage-container {
  margin: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

#aboutpage {
  width: 100vw;
  height: 100vh;
  overflow-x: clip;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgb(35, 35, 35) 31%,
    rgb(0, 0, 0) 100%
  );
}

#aboutpage > * {
  box-sizing: border-box;
}

.slogancontainer h1 {
  font-size: 2em;
  font-weight: lighter;
  color: white;
}
.slogancontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  animation-duration: 2s;
}
#boutpage h1 {
  font-size: 35px;
  text-align: center;
}

.arrow-box {
  position: absolute;
  top: 92vh;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow-box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow-box span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.historycontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
  background: linear-gradient(
    0deg,
    rgb(34, 34, 34) 31%,
    rgb(13, 13, 13) 100%
  );
  color: white;
  font-size: larger;
  text-align: justify;
}

.historycontainer h2, .historycontainer p, .videos-container p {
  max-width: 70%;
}
.historycontainer p, .videos-container p { font-weight: lighter;}

.videos-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3em;
  background: linear-gradient(
  0deg,
  rgb(42,42,42) 31%,
  rgb(34, 34, 34) 100%
);
  color: white;
  font-size: larger;
  text-align: justify;
}

.videos-container div {
  display: flex;
  gap: 40px
}

.videos-container div iframe {
  border: 1px solid white;
}

.our-partners {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: flex-start;
  gap: 10vh;
  background: linear-gradient(
    0deg,
    rgb(42,42,42) 31%,
    rgb(41, 41, 41) 100%
  );
}

.quisommesnous {
  max-width: 500px;
  text-align: justify;
  color: white;
}

.alice-carousel {
}

.alice-carousel__stage {
}

.alice-carousel__stage-item {
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1fr;
}

.teamcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgb(54, 54, 54) 31%,
    rgb(42, 42, 42) 100%
  );
  gap: 8em;
}

.teamcontainer > h1 {
  color: white;
  margin-bottom: 1em;
}

.teammembers {
  display: flex;
  column-gap: 7em;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.teammembers img {
  /* contain */
  object-fit: cover;
}

.discord-svg {
  fill: white;
  height: 55px;
  width: auto;
}

.card {
  width: 300px;
  height: 400px;
  box-shadow: 8px 16px -8px rgba(136, 136, 136, 0.4);
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.534);
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.281);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card h1 {
  color: white;
}

.card .additional {
  position: absolute;
  width: 0px;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325C46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 0;
  text-align: center;
  color: white;
}

.pp-team {
  width: 210px;
  border-radius: 100%;
}

.innershadow {
  box-shadow: inset 10px 10px 10px rgb(0,0,0,1);
}

@media screen and (max-width: 1080px) {
  .teamcontainer {
    row-gap: 0;
  }
  .teammembers {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .historycontainer {
    flex-direction: column;
    padding: 0;
  }
  .teamcontainer {
    row-gap: 0;
  }
  .teammembers {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* CONNECT PAGE */

.connectpage {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sm-container {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 3em;
  margin-bottom: 5em;
}
.sm-container h1 {
  font-size: 40px;
}

.socialmedias2 {
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 9em);
  animation: backInLeft;
  animation-duration: 1s;
}

.socialmedias2 a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stay-connected,
.buttton-wrapper {
  animation: backInRight;
  animation-duration: 1s;
  cursor: pointer;
}

.buttton-wrapper {
  padding-top: 1.5em;
}

.email {
  animation: backInLeft;
  animation-duration: 1s;
  padding-top: 1.5em;
  cursor: pointer;
}

svg {
  width: 100px;
  height: auto;
}

path {
  transition: fill 0.4s ease;
}

.bi-youtube path,
.bi-linkedin path,
.bi-discord path,
.bi-twitter path {
  fill: rgba(0, 0, 0, 0.5);
}

.bi-youtube:hover path {
  fill: #ff0000;
}

.bi-discord:hover path {
  fill: #7289da;
}

.bi-twitter:hover path {
  fill: #1da1f2;
}

.bi-linkedin:hover path {
  fill:#0A66C2
}

.extra-info {
  padding-bottom: 1em;
}

.extra-info > * {
  color: black;
  padding: 0 25px;
}

@media screen and (max-width: 900px) {
  .connectmainpage {
    flex-direction: column;
  }
}

/* PRIVACY POLICY PAGE */

.Privacypage > h1 {
  text-align: center;
  line-height: 15vh;
  color: lightgray;
  background-color: black;
}

#faq-intro {
  padding: 25px;
  text-align: justify;
}

.faq-container {
  width: 100%;
  display: flex;
}

#main-doc {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  flex: 2;
}

#faq-navbar {
  overflow: auto;
  position: sticky;
}

#doc-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#pp-navbar {
  position: sticky;
  top: 10vh;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(226, 226, 226);
  border: 1px solid black;
  height: 90vh;
  overflow-y: scroll;
  flex: 1;
}

#pp-navbar header {
  text-align: center;
  padding: 28px 0;
  padding: 3vw 15vh;
}

.pp-nav-link {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  border: 1px solid black;
  border-bottom: 0;
  border-right: 0;
  color: black;
  text-decoration: underline;
  padding: 2vw vh;
}

#main-doc {
  padding: 30px 5vw 30px 5vw;
  border-top: 1px solid black;
  text-align: justify;
}

.main-section p {
  padding: 15px 20px;
  font-size: 14px;
}

.main-section ul {
  margin-left: 40px;
  font-size: 14px;
  list-style-position: inside;
  padding-right: 20px;
}

.graybox {
  width: auto;
  background: #f5dbce;
  margin: 15px 40px;
  padding: 15px;
  overflow: scroll;
}

@media (max-width: 900px) {
  #pp-navbar {
    position: relative;
    height: fit-content;
    margin: 10px;
    width: calc(100% - 20px);
    overflow: auto;
    border-top: 1px solid black;
  }
  .pp-nav-link {
    text-align: center;
    padding: 6px;
    border-left: 0;
  }
  #main-doc {
    padding: 20px;
  }

  #doc-container {
    flex-direction: column;
  }
}

/* TERMS OF SERVICE PAGE */

.tos-page > h1 {
  text-align: center;
  line-height: 15vh;
  color: lightgray;
  background-color: black;
}

.tos-list {
  padding: 2vh 7vw;
  text-align: justify;
}

/* CONSULTING PAGE */

#consultingpage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  object-fit: contain;
  align-items: flex-start;
}

#consultingpage .gamespage-video {
  filter: grayscale(50%);
  filter: blur(0.2em);
  position: absolute;
  height: 100%;
}

#introduction-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  row-gap: 3.5em;
  text-shadow: black 2px 0 15px;
}

#go-back-up {
  position: fixed;
  right: 5vw;
  bottom: 0;
  height: 100px;
  width: auto;
}

.hide {
  opacity:0;
  left:-100%;
}
.show {
  opacity:1;
  right:5vw;
}

#introduction-container h1 {
  font-weight: bolder;
  animation: flicker 3.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #00E1C7,
      0 0 80px #00E1C7,
      0 0 90px #00E1C7,
      0 0 100px #00E1C7,
      0 0 150px #00E1C7;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

#introduction-container div > a {
  padding: 10px;
  margin: 30px;
  border: 2px solid white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

#introduction-container div > a:hover {
  animation: turnToGrey 0.6s ease;
  animation-fill-mode: forwards;
}

@keyframes turnToGrey {
  from {
    color: white;
    border: 2px solid white;
  }
  to {
    color: rgb(223, 100, 100);
    border: 2px solid rgb(223, 100, 100);
  }
}

#previous-work-container {
  width: 100vw;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#previous-work-container h1 {
  font-weight: 900;
}

#games-helped {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

#games-worked {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  background-attachment:fixed;
}

#games-img {
  display: flex;
  align-items: center;
}

#games-img > a {
  width: 15em;
  margin-right: 1.8em;
  background: transparent;
  transition: all .2s ease-in-out
}

#community-content-container {
  padding-top: 2%;
}

.gamecards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: max-content;
  padding: 2% 0;
}

.consulting-cards {
  border-radius: 4px;
  background: #181818;
  height: 410px;
  width: 35%;
  display: flex;
  flex-flow: column nowrap;
  margin: 1em;
  text-align: start;
  transition: all .2s ease-in-out
}

.consulting-cards:hover, #games-img > a:hover, #addons-icons > a:hover {
  transform: scale(1.1);
}

.consulting-cards img {
  height: 45%;
  object-fit: cover;
}

.consulting-cards ul {
  list-style-type: none;
  padding: 25px;
}

.consulting-cards p {
  padding: 25px;
}

.consulting-cards h1 {
  padding: 25px;
  padding-bottom: 0;
}

.consulting-cards a {
  text-decoration: none;
  color: white;
}

.item-img {
  height: 50%;
}

#addons-made {
  width: 100vw;
  height: 50vh;
  background-color: white;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

#reviews-introductio h3 b,
#addons-made h3 b,
#games-worked h3 b,
#games-helped h3 b {
  font-weight: 900;
}

#addons-icons {
  display: flex;
  align-items: center;
  margin: 0 3.5em;
}

#addons-icons > a {
  transition: all .2s ease-in-out
}

#gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 25px;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#gallery-container > img {
  width: 23vw;
  height: 40vh;
  object-fit: cover;
}

#reviews-introduction {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  text-shadow: black 2px 0 15px;
  --s: 200px; /* control the size */
  --_g: #00000000 90deg, rgb(95, 95, 95) 0;
  background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
  background-attachment: fixed;
}

#reviews-quotes {
  width: 100vw;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  --s: 82px; /* control the size */
  --c1: #f1f1f1;
  --c2: #ffffff;
  --c3: #fafafa;
  --_g: var(--c3) 0 120deg, #0000 0;
  background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
    conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
    conic-gradient(
      from 60deg at calc(200% / 3),
      var(--c3) 60deg,
      var(--c2) 0 120deg,
      #0000 0
    ),
    conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
    linear-gradient(
      90deg,
      var(--c1) calc(100% / 6),
      var(--c2) 0 50%,
      var(--c1) 0 calc(500% / 6),
      var(--c2) 0
    );
  background-size: calc(1.732 * var(--s)) var(--s);
  background-attachment: fixed;
}
#reviews-quotes h1 {
  font-size: 40px;
  margin-bottom: 7vh;
  font-weight: bolder;
}
.quotepp-wrapper {
  width: 70px;
}
.quotepp-wrapper img {
  border-radius: 100%;
}

#all-quotes {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 6vh;
}

.quotecard {
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
}

.quotecard p {
  line-height: 30px;
  font-size: medium;
  text-align: start;
  max-width: 540px;
}

.card-downside {
  display: grid;
  grid-template-columns: 10% 90%;
  column-gap: 40px;
}

.quotetext-wrapper {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.quotetext-wrapper > p {
  font-size: medium;
}
