@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

@font-face {
  font-family: 'AddLGBitmap09';
  src: url('https://assets.codepen.io/217233/AddLGBitmap09.woff2') format('woff2'),
    url('https://assets.codepen.io/217233/AddLGBitmap09.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.Homehero > * {
  font-family: "Montserrat", sans-serif;
  padding: 1em;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  border: 0;
}

/* Page d'accueil */

.home-container {
  overflow: hidden;
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
}

.Homehero {
  display: flex;
  height: 85vh;
  align-items: center;
}

.textside {
  flex: 1;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content;
  gap: 5em 2em;
  animation: fadeInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.7s; /* don't forget to set a duration! */
}

.rectangle {
  width: 12px;
  height: 13em;
  background: linear-gradient(360deg, rgba(129, 20, 20, 0) 0%, #000000 100%);
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.gametitlebox {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  height: min-content;
}

.ovoLogo {
  opacity: 0.6;
  width: 20em;
  height: auto;
}

.description {
  margin-top: 2em;
  opacity: 0.6;
}
.textside > a {
  justify-self: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.playnow {
  font-weight: bolder;
  color: white;
  background: linear-gradient(180deg, #b0b0b0 0%, #000000 100%);
  border-radius: 0.7em;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  width: 11em;
  height: 3.5em;
}

.videoside-content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: jackInTheBox; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.video {
  height: auto;
  width: 100%;
  max-width: 800px;
}

@media (max-width: 900px) {
  /* Page HOME */
  .Homehero {
    flex-direction: column;
    height: 100vh;
  }
  .textside,
  .videoside-content {
    width: 90%;
    height: auto;
    justify-content: center;
  }
  .textside {
    justify-content: center;
  }
}



/* BLOG PAGE */

#blogpage {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#blogpage > * {
  box-sizing: border-box;
}

#blogpage-container {
  margin: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

/* ABOUT PAGE */

.aboutpage {
  width: 100vw;
  height: 100%;
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
}

.aboutpage > * {
  box-sizing: border-box;
}

.slogancontainer h1 {
  font-size: 1.5em;
}
.slogancontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-duration: 2s;
}
.aboutpage h1 {
  font-size: 35px;
  text-align: center;
}

.arrow-box {
  position: absolute;
  top: 75vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-box span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow-box span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow-box span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.historycontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding-left: 7em;
}

.quisommesnous {
  max-width: 500px;
  text-align: justify;
}

.ossamadam {
  width: auto;
  height: 100%;
}

.teamcontainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 14em;
}

.teammembers {
  display: flex;
  column-gap: 7em;
}

@media screen and (max-width: 900px) {
  .historycontainer {
    flex-direction: column;
    padding: 0;
  }
  .teamcontainer {
    row-gap: 0;
  }
  .teammembers {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* CONNECT PAGE */

.connectpage {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: -moz-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 1) 31%,
    rgba(221, 221, 221, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sm-container {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 3em;
  margin-bottom: 5em;
}
.sm-container h1 {
  font-size: 40px;
}

.socialmedias2 {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 9em);
  animation: backInLeft;
  animation-duration: 1s;
}

.socialmedias2 a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stay-connected,
.buttton-wrapper {
  animation: backInRight;
  animation-duration: 1s;
}

svg {
  width: 100px;
  height: auto;
}

path {
  transition: fill 0.4s ease;
}

.bi-youtube path,
.bi-discord path,
.bi-twitter path {
  fill: rgba(0, 0, 0, 0.5);
}

.bi-youtube:hover path {
  fill: #ff0000;
}

.bi-discord:hover path {
  fill: #7289da;
}

.bi-twitter:hover path {
  fill: #1da1f2;
}

.extra-info {
  padding-bottom: 1em;
}

.extra-info > * {
  color: black;
  padding: 0 25px;
}

.formcontainer {
  border: 1px solid rgb(0, 21, 255);
}

@media screen and (max-width: 900px) {
  .connectmainpage {
    flex-direction: column;
  }
}

/* PRIVACY POLICY PAGE */

.Privacypage > h1 {
  text-align: center;
  line-height: 15vh;
  color: lightgray;
  background-color: black;
}

#faq-intro {
  padding: 25px;
  text-align: justify;
}

/* .faq-container {
  border: 1px solid greenyellow;
  width: 100%;
  display: flex;
}

#main-doc {
  margin: 60px 0 0 24vw;
  padding: 0 30px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

#faq-navbar {
  border: 1px solid blue;
  overflow: auto;
  position: sticky;
} */

#doc-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#pp-navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(226, 226, 226);
  border: 1px solid black;
  height: 100vh;
}

#pp-navbar header {
  text-align: center;
  padding: 28px 0;
  padding: 3vw 15vh;
}

.pp-nav-link {
  display: block;
  text-decoration: none;
  padding: 12px 16px;
  border: 1px solid black;
  border-bottom: 0;
  border-right: 0;
  color: black;
  text-decoration: underline;
  padding: 2vw vh;
}

#main-doc {
  padding: 30px 5vw 30px 5vw;
  border-top: 1px solid black;
  text-align: justify;
}

.main-section p {
  padding: 15px 20px;
  font-size: 14px;
}

.main-section ul {
  margin-left: 40px;
  font-size: 14px;
  list-style-position: inside;
  padding-right: 20px;
}

.graybox {
  width: auto;
  background: #f5dbce;
  margin: 15px 40px;
  padding: 15px;
  overflow: scroll;
}

@media (max-width: 900px) {
  #pp-navbar {
    position: relative;
    height: fit-content;
    margin: 10px;
    width: calc(100% - 20px);
    overflow: auto;
    border-top: 1px solid black;
  }
  .pp-nav-link {
    text-align: center;
    padding: 6px;
    border-left: 0;
  }
  #main-doc {
    margin: auto;
    padding: 20px;
  }

  #doc-container {
    flex-direction: column;
  }
}

/* TERMS OF SERVICE PAGE */

.tos-page > h1 {
  text-align: center;
  line-height: 15vh;
  color: lightgray;
  background-color: black;
}

.tos-list {
  padding: 2vh 7vw;
  text-align: justify;
}

/* GAMES TWO PAGE */

.gamespage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  object-fit: contain;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.dedra-intro {
  background: rgba(14, 3, 13, 0.94);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  transition: all .3s;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.dedra-intro h3:last-child {
  margin-top: 15vh;
  font-family: 'AddLGBitmap09';
}

.dedra-intro h3:last-child:hover { 
  color: #2f9eaf;
  cursor: pointer;
 }

 

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dedra-title {
  color: white;
  font-family: Montserrat;
  font-size: 100px;
}

.loader {
  height: 70px;
  width: 71px;
  position: relative;
  text-align: center;
  animation: rotateFrame 2.5s infinite;
  margin-left: 7px;
}

@keyframes rotateFrame {
  0% {
    transform: none;
  }
  
  90% {
    transform: none;
  }
  
  100% {
    transform: rotate(180deg);
  }
}

.top {
  animation: top 2.5s linear infinite;
  border-top: 35px solid #fff;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}

@keyframes top {
  90% { transform: scale(0.3); }
  100% { transform: scale(0);}
}

.bottom {
  animation: bottom 2.5s linear infinite;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #fff;
  border-left: 35px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}

@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}

.gamespage-video {
  object-fit: cover;
  position: fixed;
  z-index: -1;
  width: 100%;
}

.gamespage .wh-navbar > *,
.gamespage .wh-nav-link {
  color: white;
}

.gamespage .wh-navbar {
  width: 100%;
  z-index: 999;
}

.gamespage.wh-nav-link {
  display: inline-block;
  position: relative;
}
.gamespage.wh-nav-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.gameinfo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 49vw;
  height: 30vh;
  transform: translateY(-17vh);
}

.rectangle2 {
  width: 20px;
  height: 100px;
  background: linear-gradient(360deg, rgba(129, 20, 20, 0) 0%, #ffffff 100%);
  margin-top: 8px;
  animation-duration: 0.7s;
}

.description2 {
  color: white;
  text-align: justify;
  line-height: 1.6;
  font-weight: 500;
  font-size: 22px;
  animation-duration: 0.7s;
  text-shadow: rgb(51, 51, 51) 2px 0 10px;
}

.partnerslogo {
  height: 6.5em;
}

.platformslist {
  margin-top: -10vh;
}


form {
  width: 70%;
  max-width: 350px;
  margin-top: 10vh;
}
form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
}
form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: calc(100% * (4 / 5));
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
form #debt-amount-slider input, form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  user-select: none;
  cursor: pointer;
}
form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 10%;
  height: 50%;
  user-select: none;
}
form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
form #debt-amount-slider input {
  display: none;
}
form #debt-amount-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
form #debt-amount-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}

#debt-amount-pos {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  opacity: 1;
  z-index: 2;
  top:25%;
  left: 10%;
}
form:valid #debt-amount-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #debt-amount-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}

.carousel {
  width: 100vw;
  height: 100%;
}

label input .ovo:checked {
 background-color: black;
 color: black;
}

@media screen and (max-width: 900px) {

  .gamescontent {
    /* same styling is applied to <Vertical Carousel /> in its own css file*/
    width: 60vw;
    margin-top: 20vh;
  }
}